:root {
  --red: rgb(230, 45, 45);
}

* {
  box-sizing: border-box;
}

/* wrapper <div> with class of court */
.court{
  width: 1128px;
  height: 600px;
  border: solid black 2px;
  background-image: url(images/bg-court.jpg);
  outline: solid 50px gray;

  position: absolute;
  top: 55px;
  left: 55px;
}

.roseStem {
  width: 90px;
  height: 90px;
  position: absolute;
}

.roseTopLeft{
  top: 30px;
  left: 400px;

  transform: rotate(105deg);
  /* filter: invert(36%) sepia(28%) saturate(5044%) hue-rotate(342deg) brightness(68%) contrast(101%); */
}

.roseBottomRight {
  top: 480px;
  left: 650px;

  transform: rotate(-50deg);
}

.rose {
  width: 50px;
  height: 50px;
  position: absolute;
}

.roseTopRight {
  top: 50px;
  left: 670px;
}

.roseBottomLeft {
  top: 490px;
  left: 420px;
}

/* midcourt <div> to divide the court in half */
.midcourt {
  width: 564px;
  height: 598px;
  border-right: solid black 2px;
}

/* NBA official logo for court apron */
.logo {
  width: 70px;
  height: 50px;
  position: absolute;
  top: -52px;
  left: 528px;
}

/* logos for Court Apron */
.apronLogo_1 {
  width: 290px;
  height: 130px;

  position: absolute;
  top: 235px;
  left: -169px;

  transform: rotate(-90deg);
}

.apronLogo_2 {
  width: 290px;
  height: 130px;

  position: absolute;
  top: 255px;
  left: 1004px;

  transform: rotate(90deg);
}

.cornerLogo {
  width: 145px;
  height: 65px;

  position: absolute;
}

.apronLogo_3 {
  top: -54px;
  left: -100px;
}

.apronLogo_4 {
  top: -54px;
  left: 1080px;
}

.apronLogo_5 {
  top: 584px;
  left: -100px;
}

.apronLogo_6 {
  top: 584px;
  left: 1080px;
}

/* center court circle comprised of an inner circle and and outer circle */
.innercentercourt {
  width: 24px;
  height: 24px;
  border: solid 2px gray;
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 561px;
}

.outercentercourt {
  width: 72px;
  height: 72px;
  border: solid 2px gray;
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 275px;
  left: 536px;
}

.centerCourtLogo {
  width: 400px;
  height: 400px;

  position: absolute;
  top: 114px;
  left: 374px;
}

/* rectangular <div> for the lanes */
.lane {
  background-color: var(--red);
}

.leftlane {
  width: 228px;
  height: 144px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;

  position: absolute;
  top: 240px;
}

.rightlane {
  width: 228px;
  height: 144px;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;

  position: absolute;
  top: 240px;
  left: 896px;
}

/* free throw shooting zone circles for the lanes */
.leftLaneHalfCircle_1 {
  width: 144px;
  height: 144px;
  border: solid 2px black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);

  position: absolute;
  top: 240px;
  left: 156px;
}

.leftLaneHalfCircle_2 {
  width: 144px;
  height: 144px;
  border: dashed 2px black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-134deg);

  position: absolute;
  top: 240px;
  left: 162px;
}

.rightLaneHalfCircle_1 {
  width: 144px;
  height: 144px;
  border: dashed 2px black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(43deg);

  position: absolute;
  top: 240px;
  left: 826px;
}

.rightLaneHalfCircle_2 {
  width: 144px;
  height: 144px;
  border: solid 2px black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-134deg);

  position: absolute;
  top: 240px;
  left: 826px;
}

/* half circle <div> for restricted zones */

.leftRestrictedZone {
  width: 96px;
  height: 96px;
  border: solid 2px black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(44deg);

  position: absolute;
  top: 265px;
  left: 10px;
}

.rightRestrictedZone {
  width: 96px;
  height: 96px;
  border: solid 2px black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-136deg);

  position: absolute;
  top: 265px;
  left: 1030px;
}

/* hasharks for free throw lane positions */
.laneHash {
  width: 12px;
  height: 12px;
  border-right: solid 2px black;
  position: absolute;
}

.leftLaneTopHash_1 {
  top: 230px;
  left: 70px;
}

.leftLaneTopHash_2 {
  top: 230px;
  left: 82px;
}

.leftLaneTopHash_3 {
  top: 230px;
  left: 118px;
}

.leftLaneTopHash_4 {
  top: 230px;
  left: 154px;
}

.leftLaneBottomHash_1 {
  top: 384px;
  left: 70px;
}

.leftLaneBottomHash_2 {
  top: 384px;
  left: 82px;
}

.leftLaneBottomHash_3 {
  top: 384px;
  left: 118px;
}

.leftLaneBottomHash_4 {
  top: 384px;
  left: 154px;
}

.rightLaneTopHash_1 {
  top: 230px;
  left: 1040px;
}

.rightLaneTopHash_2 {
  top: 230px;
  left: 1028px;
}

.rightLaneTopHash_3 {
  top: 230px;
  left: 994px;
}

.rightLaneTopHash_4 {
  top: 230px;
  left: 958px;
}

.rightLaneBottomHash_1 {
  top: 384px;
  left: 1040px;
}

.rightLaneBottomHash_2 {
  top: 384px;
  left: 1028px;
}

.rightLaneBottomHash_3 {
  top: 384px;
  left: 994px;
}

.rightLaneBottomHash_4 {
  top: 384px;
  left: 958px;
}

/* <div> used for creating the three point lines */
.leftThreePointBox {
  width: 128px;
  height: 504px;
  border-top: solid 2px var(--red);
  border-bottom: solid 2px var(--red);

  position: absolute;
  top: 54px;
}

.rightThreePointBox {
  width: 128px;
  height: 504px;
  border-top: solid 2px var(--red);
  border-bottom: solid 2px var(--red);

  position: absolute;
  top: 54px;
  left: 996px;
}

.leftThreePointArc {
  width: 504px;
  height: 504px;
  border: solid 2px var(--red);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);

  position: absolute;
  top: 54px;
  left: -134px;
}

.rightThreePointArc {
  width: 504px;
  height: 504px;
  border: solid 2px var(--red);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-135deg);

  position: absolute;
  top: 54px;
  left: 752px;
}

/* hashmarks */

.topLeftHash {
  width: 36px;
  height: 36px;
  border-right: solid 2px var(--red);

  position: absolute;
  top: 0;
  left: 360px;
}

.bottomLeftHash {
  width: 36px;
  height: 36px;
  border-right: solid 2px var(--red);

  position: absolute;
  top: 560px;
  left: 360px;
}

.topRightHash {
  width: 36px;
  height: 36px;
  border-right: solid 2px var(--red);

  position: absolute;
  top: 0;
  left: 716px;
}

.bottomRightHash {
  width: 36px;
  height: 36px;
  border-right: solid 2px var(--red);

  position: absolute;
  top: 560px;
  left: 716px;
}