* {
  box-sizing: border-box;
}

/* wrapper div with class of court */
.court{
  width: 1128px;
  height: 600px;
  border: solid black 2px;
}

.midcourt {
  width: 564px;
  height: 598px;
  border-right: solid black 2px;
}

.innercentercourt {
  width: 24px;
  height: 24px;
  border: solid 2px black;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 300px;
  left: 561px;
}

.outercentercourt {
  width: 72px;
  height: 72px;
  border: solid 2px black;
  border-radius: 50%;
  position: absolute;
  top: 275px;
  left: 536px;
}

.leftlane {
  width: 228px;
  height: 144px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;

  position: absolute;
  top: 240px;
}

.rightlane {
  width: 228px;
  height: 144px;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;

  position: absolute;
  top: 240px;
  right: 269px;
}